@page "/home"
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider GetAuthenticatorKeyAsync

<AuthorizeView>
    <Authorized>
        <h1>Dashboard</h1>
        <br /><br /><br />
        Hi @context.User.Identity.Name!
        <br /><br />
        Use the menu to navigate to the different pages.

    </Authorized>
</AuthorizeView>

<PageTitle>Index</PageTitle>

@code {
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }
    
    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var authstate = await GetAuthenticatorKeyAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        
        if(!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/Identity/Account/Login", true);
        }
    }
}